<footer class="footer mt-auto py-3 bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container">
      <span class="text-body-secondary">	&copy; campground :2020</span>
    </div>
  </footer>

  